<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">

    <div th:each="course,stat : *{studentCourses}">
        <label for="courseName" th:for="studentCourses.__${stat.index}__.courseName">受講コース名</label>
        <input type="text" id="courseName"
               th:id="studentCourses.__${stat.index}__.courseName"
               th:field="*{studentCourses[__${stat.index}__].courseName}"/>
    </div>
    <div>
        <label for="remark">備考</label>
        <input type="text" id="remark" th:field="*{student.remark}"/>
    </div>
    <div>
        <button type="submit">登録</button>
    </div>
</form>
</body>
</html>